<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Aldana Gonzalez Fotografia" />
    <meta name="description" content="Muestra de fotografias artisticas, de producto, retratos y más.Entra y conoce mi trabajo." />
    <meta name="keywords" content="Fotografias fotografia fotos argentina fotografo capital federal" />
    <meta name="robots" content="index,follow" />
    <title>@ViewBag.Title -Aldana Gonzalez</title>
    <link rel="stylesheet" href="~/Content/ionicons.min.css" />
   
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/otros")
    @Styles.Render("~/Content/css")
</head>
<body >
    <!--  PRELOADER  -->
    <img id="preloader" alt="" src="~/Content/img/loading.gif" style="opacity: 0; display: none;">
    <!--  //PRELOADER  -->

    <!--  LEFT MENU  -->
    <div class="left-menu" style="opacity: 1;">
        <!--  LOGO  -->
        <a class="logo hvr-wobble-horizontal" href="@Url.Action("Index", "Home")">
            <span class="ion-camera" style="color:red;"></span>
            <span id="marca">Aldana Gonz</span>
        </a>
        <!--  //LOGO  -->

        <!--  NAVIGATION  -->
        <nav class="main-navi">
            <ul>
                @if (Session["usuario"] != null)
                {
                    <li style="list-style:none;">
                        <a href="@Url.Action("Admin","Home")">
                            Admin
                            <span class="dot"></span>
                            <span class="corner"></span>
                        </a>
                    </li>
                }
                <li style="list-style:none;">
                    <a href="@Url.Action("Index","Home")">
                        Home
                        <span class="dot"></span>
                        <span class="corner"></span>
                    </a>
                </li>
                <li id="portfolioLink" style="list-style:none;">
                    <a href="@Url.Action("Index","Portfolio")">
                        Portfolio
                        <span class="dot"></span>
                        <span class="corner"></span>
                    </a>
                </li>
                <li style="list-style:none;">
                    <a href="@Url.Action("SobreMi","SobreMi")">
                        Sobre mi
                        <span class="dot"></span>
                        <span class="corner"></span>
                    </a>
                </li>
                <li style="list-style:none;">
                    <a href="@Url.Action("Contacto","Contacto")">
                        Contacto
                        <span class="dot"></span>
                        <span class="corner"></span>
                    </a>
                </li>
            </ul>
            <em id="showHideMenu" class="show-hide-menu ion-android-menu" href=""></em>
        </nav>
        <!--  //NAVIGATION  -->
        <!--  SOCIAL ICONS  -->
 
        <div class="soc-icons">
            <a class="mini hvr-buzz" href="http://san-leon.com/" target="_blank" style="font-size:12px;">Diseño SanLeon 2016-@DateTime.Today.Year</a>
            @*<a class="ion-social-twitter" href="twitter.com"></a>*@
            @*<a class="ion-social-facebook" href="https://www.facebook.com/aldu.g.fotografia/"></a>*@
            @*<a class="ion-social-googleplus" href="google.com"></a>*@    
            <a class="ion-ios-cog-outline" href="@Url.Action("Ingresar","Usuario")"></a>
            
        </div>
        
        <!--  //SOCIAL ICONS  -->
 </div>
    <!--  //LEFT MENU  -->

        @RenderBody()


    @Scripts.Render("~/bundles/jquery")


    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/otros")

    @RenderSection("scripts", required: false)
</body>
</html>
