@{

    ViewBag.Title = "Contacto";
    AGFotografia.Models.DatosContacto contacto = ViewBag.Contacto;
}


@if (Session["usuario"] == null)
{ 
    <!--  Contacto  -->
    <div class="right-content" style="opacity: 1;">
        <div class="about main-block">
            <div class="left-content col-lg-9">
                <div class="scroller">
                    <!--  CONTENT IMAGE  -->
                    <img src="@contacto.Portada" />
                    <!--  //CONTENT IMAGE  -->
                    <article class="left-content-text">
                        <h2>@contacto.Titulo</h2>
                        <strong>@contacto.Subtitulo</strong>
                        <div class="row contact-details">
                            <div class="contact-info col-lg-6 col-md-6 col-sm-6">
                                <p>@contacto.Texto1</p>
                                <p class="mini">@contacto.Texto2</p>

                                <div class="info-block">
                                    <em class="icono ion-android-phone-portrait"></em>
                                    <strong>Tel</strong>
                                    <span class="phone">@contacto.Tel</span>
                                </div>
                                <div class="info-block">
                                    <em class="icono ion-email"></em>
                                    <strong>e-mail</strong>
                                    <span>@contacto.Email</span>
                                </div>

                                <div class="info-block">
                                    <em class="icono ion-social-facebook"></em>
                                    <strong>facebook</strong>
                                    <span>@contacto.Facebook</span>
                                </div>
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                @if (ViewBag.Listo != null)
                                {

                                    <div class="alert alert-sucess close alerta" data-dismiss="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <div class="text-center well" style="color:green;">Mensaje enviado, @ViewBag.Listo</div>
                                    </div>

                                }
                                <form action="@Url.Action("Comentario","Home")" method="post">
                                    <input class="form-group" name="nombre" placeholder="Nombre" type="text" required>
                                    <input class="form-group" name="email" id="email" placeholder="e-mail" type="email" required>
                                    <input class="form-group" name="tel" id="phone" placeholder="Telfono (opcional)" type="text" pattern="1234567890 ">
                                    <textarea class="form-group" name="msj" placeholder="Mensaje, máximo 1500 caracteres" required maxlength="1500"></textarea>
                                    <input value="enviar" type="submit">


                                </form>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="scroller__track">
                    <div class="scroller__bar" style="height: 646px; top: 67.8161px;"></div>
                </div>
            </div>


            <!--  RIGHT IMAGES  -->
            <div class="right-images col-lg-3" data-baron-v="inited">
                <div class="scroller" style="width: 410px;">
                    <ul>
                        @foreach (AGFotografia.Models.Album album in ViewBag.Albunes)
                        {
                            <li style="height: 310px; width: 410px;">
                                <a href="../Portfolio/Ver?id=@album.ID">
                                    <img src="@album.Portada" alt="" style="height: 310px; width: 410px;">
                                </a>
                            </li>
                        }

                    </ul>
                </div>
                <div class="scroller__track">
                    <div class="scroller__bar" style="height: 941px; top: 0px;"></div>
                </div>
            </div>
            <!--  //RIGHT IMAGES  -->
        </div>
    </div>

}else
{
        <!--  Contacto  -->
    <div class="right-content" style="opacity: 1;">
        <div class="about main-block">
            <div class="left-content col-lg-9">
                <div class="scroller">
                    <form method="post">
                        @* Portada *@
                        <img src="@contacto.Portada" />
                        <a class="btn btn-xs btn-primary" role="button" data-toggle="collapse" href="#portada" aria-expanded="false" aria-controls="collapseExample">
                            Editar
                        </a>
                        <div class="collapse" id="portada">
                            <div class="well">
                                <input type="text" value="@contacto.Portada" name="portada" />
                                <button class="btn btn-xs btn-success" formaction="@Url.Action("Editar","Contacto")"><span class="glyphicon glyphicon-ok"></span>OK!</button>
                            </div>
                        </div>
                        @* Fin Portada *@
                        <article class="left-content-text">
                            @* titulo y edicion de titulo *@
                            <h2>@contacto.Titulo</h2>
                            <a class="btn btn-xs btn-primary" role="button" data-toggle="collapse" href="#titulo" aria-expanded="false" aria-controls="collapseExample">
                                Editar
                            </a>
                            <div class="collapse" id="titulo">
                                <div class="well">
                                    <input type="text" value="@contacto.Titulo" name="titulo" />
                                    <button class="btn btn-xs btn-success" formaction="@Url.Action("Editar","Contacto")"><span class="glyphicon glyphicon-ok"></span>OK!</button>
                                </div>
                            </div>
                            @* fin titulo *@
                            @* subtitulo y edicion *@
                            <strong>@contacto.Subtitulo</strong>
                            <a class="btn btn-xs btn-primary" role="button" data-toggle="collapse" href="#subtitulo" aria-expanded="false" aria-controls="collapseExample">
                                Editar
                            </a>
                            <div class="collapse" id="subtitulo">
                                <div class="well">
                                    <input type="text" value="@contacto.Subtitulo" name="subtitulo" />
                                    <button class="btn btn-xs btn-success" formaction="@Url.Action("Editar","Contacto")"><span class="glyphicon glyphicon-ok"></span>OK!</button>
                                </div>
                            </div>
                            @* fin subtitulo *@
                            <div class="row contact-details">
                                <div class="contact-info col-lg-6 col-md-6 col-sm-6">
                                    <p>@contacto.Texto1</p>
                                    <a class="btn btn-xs btn-primary" role="button" data-toggle="collapse" href="#texto1" aria-expanded="false" aria-controls="collapseExample">
                                        Editar
                                    </a>
                                    <div class="collapse" id="texto1">
                                        <div class="well">
                                            <textarea name="texto1">@contacto.Texto1</textarea>
                                            <button class="btn btn-xs btn-success" formaction="@Url.Action("Editar","Contacto")"><span class="glyphicon glyphicon-ok"></span>OK!</button>
                                        </div>
                                    </div>
                                    <p class="mini">@contacto.Texto2</p>
                                    <a class="btn btn-xs btn-primary" role="button" data-toggle="collapse" href="#texto2" aria-expanded="false" aria-controls="collapseExample">
                                        Editar
                                    </a>
                                    <div class="collapse" id="texto2">
                                        <div class="well">
                                            <textarea name="texto2">@contacto.Texto2</textarea>
                                            <button class="btn btn-xs btn-success" formaction="@Url.Action("Editar","Contacto")"><span class="glyphicon glyphicon-ok"></span>OK!</button>
                                        </div>
                                    </div>
                                    @* Datos Contacto *@
                                    <div class="info-block">
                                        <em class="icono ion-android-phone-portrait"></em>
                                        <strong>Tel</strong>
                                        <span class="phone">@contacto.Tel</span>
                                        @* Boton que habre el div para edicion *@
                                        <a class="btn btn-xs btn-primary" role="button" data-toggle="collapse" href="#tel" aria-expanded="false" aria-controls="collapseExample">
                                            Editar
                                        </a>
                                    </div>
                                    @* campos para edicion *@
                                    <div class="collapse" id="tel">
                                        <div class="well">
                                            <input type="text" value="@contacto.Tel" name="tel" />
                                            <button class="btn btn-xs btn-success" formaction="@Url.Action("Editar","Contacto")"><span class="glyphicon glyphicon-ok"></span>OK!</button>
                                        </div>
                                    </div>

                                    <div class="info-block">
                                        <em class="icono ion-email"></em>
                                        <strong>e-mail</strong>
                                        <span>@contacto.Email</span>
                                        @* Boton que habre el div para edicion *@
                                        <a class="btn btn-xs btn-primary" role="button" data-toggle="collapse" href="#email" aria-expanded="false" aria-controls="collapseExample">
                                            Editar
                                        </a>
                                    </div>
                                    @* campos para edicion *@
                                    <div class="collapse" id="email">
                                        <div class="well">
                                            <input type="text" value="@contacto.Email" name="email" />
                                            <button class="btn btn-xs btn-success" formaction="@Url.Action("Editar","Contacto")"><span class="glyphicon glyphicon-ok"></span>OK!</button>
                                        </div>
                                    </div>
                                    @*<div class="info-block">
                                        <em class="ion-social-foursquare"></em>
                                        <strong>Flickr</strong>
                                        <span>@contacto.Flickr</span>*@
                                        @* Boton que habre el div para edicion *@
                                        @*<a class="btn btn-xs btn-primary" role="button" data-toggle="collapse" href="#flickr" aria-expanded="false" aria-controls="collapseExample">
                                            Editar
                                        </a>
                                    </div>*@
                                    @* campos para edicion *@
                                    @*<div class="collapse" id="flickr">
                                        <div class="well">
                                            <input type="text" value="@contacto.Flickr" name="flickr" />
                                            <button class="btn btn-xs btn-success" formaction="@Url.Action("Editar","Contacto")"><span class="glyphicon glyphicon-ok"></span>OK!</button>
                                        </div>
                                    </div>*@

                                    <div class="info-block">
                                        <em class="icono ion-social-facebook"></em>
                                        <strong>facebook</strong>
                                        <span>@contacto.Facebook</span>
                                        @* Boton que habre el div para edicion *@
                                        <a class="btn btn-xs btn-primary" role="button" data-toggle="collapse" href="#facebook" aria-expanded="false" aria-controls="collapseExample">
                                            Editar
                                        </a>
                                    </div>
                                    @* campos para edicion *@
                                    <div class="collapse" id="facebook">
                                        <div class="well">
                                            <input type="text" value="@contacto.Facebook" name="facebook" />
                                            <button class="btn btn-xs btn-success" formaction="@Url.Action("Editar","Contacto")"><span class="glyphicon glyphicon-ok"></span>OK!</button>
                                        </div>
                                    </div>

                                </div>

                                @*<div class="form col-lg-6 col-md-6 col-sm-6">
                                    <form id="ajax-contact-form" action="javascript:void(0);">
                                        <input name="name" placeholder="Nombre" type="text">
                                        <input name="email" id="email" placeholder="e-mail" type="text">
                                        <input name="phone" id="phone" placeholder="Tel" type="text">
                                        <textarea name="message" placeholder="mensaje"></textarea>
                                        <input id="submit" value="enviar" type="submit">
                                    </form>
                                </div>*@
                            </div>
                        </article>
                    </form>
                </div>
                <div class="scroller__track">
                    <div class="scroller__bar" style="height: 646px; top: 67.8161px;"></div>
                </div>
            </div>







            <!--  RIGHT IMAGES  -->
            @*<div class="right-images col-lg-3" data-baron-v="inited">
                <div class="scroller" style="width: 410px;">
                    <ul>
                        @foreach (AGFotografia.Models.Album album in ViewBag.Albunes)
                        {
                            <li style="height: 307px; width: 410px;">
                                <a href=""><img src="@album.Portada" alt=""></a>
                                <span><em></em></span>
                            </li>
                        }

                    </ul>
                </div>
                <div class="scroller__track">
                        <div class="scroller__bar" style="height: 941px; top: 0px;"></div>
                    </div>
            </div>*@
            <!--  //RIGHT IMAGES  -->
        </div>
    </div>

};

