@{
    ViewBag.Title = "Inicio";
}

<div class="right-content" style="opacity: 1;">
    <!--  HOME PAGE  -->
    <!--  SLIDER  -->
    <div class="flexslider home-page">
        <ul class="slides">
            @foreach (AGFotografia.Models.Portada portada in ViewBag.Portadas)
            {
                <li class="images-bg flex-active-slide">
                    <!--  SLIDER IMAGE  -->
                    <img src="@portada.SRC" alt="" draggable="false" style="display: none;">
                    <!--  //SLIDER IMAGE  -->
                    <!--  CIRCLE  -->
                    <div class="circle">
                        <div class="home-title left">
                            <span>
                                @portada.Texto
                            </span>
                        </div>
                        <a class="button-down glyph fa fa-angle-down" href=""></a>
                    </div>
                    <!--  //CIRCLE  -->
                </li>

            }

        </ul>
        <ol class="flex-control-nav flex-control-paging">
            <li><a class="flex-active">1</a></li>
            <li><a class="">2</a></li>
            <li><a class="">3</a></li>
        </ol>
        <ul class="flex-direction-nav">
            <li>
                <a class="flex-prev glyph fa-angle-left" href=""></a>
            </li>
            <li>
                <a class="flex-next glyph fa-angle-right" href=""></a>
            </li>
        </ul>
    </div>
    <!--  //SLIDER  -->
    <!--  //HOME PAGE  -->
    <!--  PORTFOLIO  -->

        <div id="threeColumn" class="portfolio column main-block">
            <div class="scroller">
                <ul class="animate posi">
                        @foreach (AGFotografia.Models.Album album in ViewBag.Albunes)
                        {
                            <li data-ng-class="@album.Tags" class="albunes-respon" @*style="width: 540px; height: 405px;"*@>
                                <a href="../Portfolio/Ver?id=@album.ID" style="background-image: url(@album.Portada);"></a>
                                <div>
                                    <span class="title">@album.Titulo</span>
                                    <span class="class">@album.Tags</span>
                                </div>
                            </li>
                        }
                    </ul>
            </div>
        </div>

    <div class="scroller__track">
        <div class="scroller__bar"></div>
    </div>

<!--  //PORTFOLIO  -->